# Ignore all datasets and checkpoints
dataset/
datasets/
unziped/
checkpoints/
checkpoint-30/
dev/
eval_2024/
output/
outputs/
processed*/

# Ignore model and output directories
meta-llama-ocrvqa/
meta-llama-ocrvqa_v2/
lora_model/
outputs/

# Ignore cache
*_cache

*.log
*.tmp
*.swp
*.safetensors
.DS_Store
Thumbs.db

# Ignore Python-related temporary and compiled files
__pycache__/
*.py[cod]
*.ipynb_checkpoints
*.arrow